<div class="contact-page">
  <header class="wl-header">
    <app-back-button />
    <h2 class="wl-title">{{ 'CONTACT.TITLE' | translate }}</h2>
    <div class="spacer"></div>
  </header>

  <section class="contact-info glass">
    <h3 class="section-title">{{ 'CONTACT.GET_IN_TOUCH' | translate }}</h3>
    <div class="items">
      <div class="item-row">
        <div class="item-left"><span class="label">{{ 'CONTACT.EMAIL' | translate }}</span></div>
        <div class="item-right"><span class="value">support@mytradingbox.app</span></div>
      </div>
      <div class="item-row">
        <div class="item-left"><span class="label">{{ 'CONTACT.SUPPORT_HOURS' | translate }}</span></div>
        <div class="item-right"><span class="value">{{ 'CONTACT.SUPPORT_HOURS_VALUE' | translate }}</span></div>
      </div>
      <div class="item-row">
        <div class="item-left"><span class="label">{{ 'CONTACT.STATUS_PAGE' | translate }}</span></div>
        <div class="item-right"><span class="value"><a href="https://status.mytradingbox.app" target="_blank" rel="noopener">status.mytradingbox.app</a></span></div>
      </div>
      <div class="item-row">
        <div class="item-left"><span class="label">{{ 'CONTACT.FAQ' | translate }}</span></div>
        <div class="item-right"><span class="value"><a routerLink="/help/faq">{{ 'CONTACT.READ_FAQS' | translate }}</a></span></div>
      </div>
      <div class="item-row">
        <div class="item-left"><span class="label">{{ 'CONTACT.COMMUNITY' | translate }}</span></div>
        <div class="item-right"><span class="value">
          <a href="https://twitter.com/MyTradingBox" target="_blank" rel="noopener">Twitter</a>
          &nbsp;•&nbsp;
          <a href="https://discord.gg/" target="_blank" rel="noopener">Discord</a>
        </span></div>
      </div>
      <div class="item-row">
        <div class="item-left"><span class="label">{{ 'CONTACT.SECURITY' | translate }}</span></div>
        <div class="item-right"><span class="value">{{ 'CONTACT.SECURITY_VALUE' | translate }}</span></div>
      </div>
    </div>
  </section>
</div>