.dashboard-card {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; // spacing between selects
}

mat-form-field {
  width: 100%;
}
